<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-schedule" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-clock menu-icon"></i>
          <span class="menu-title">Scheduler</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-schedule">
          <ul class="nav flex-column sub-menu"> 
            <li class="nav-item"> <a class="nav-link" href="/viewschedule">View Schedule</a></li>
            <li class="nav-item"> <a class="nav-link" href="/insertdata">Add Schedule</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-email" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-mail menu-icon"></i>
          <span class="menu-title">Email</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-email">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/viewemail">View Email</a></li>
            <li class="nav-item"> <a class="nav-link" href="/addemail">Add Email</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-server" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-server menu-icon"></i>
          <span class="menu-title">FTP Server</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-server">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/viewserver">View Server</a></li>
            <li class="nav-item"> <a class="nav-link" href="/addserver">Enter Server</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <!-- partial -->